body {
    background-color: lightgrey;
}

.btn:hover {
    color: lightslategray;
}

.exercise1 {
    background-color: lightgreen;
    display:flex;
    flex-direction:column;
    justify-content: start;

    padding: 2rem;
}

.updatePizza {
    background-color: lightgoldenrodyellow;
    padding: 2rem;

}